
<div>
  <h2 class="drac-heading drac-heading-xl drac-text-pink">Application Title</h2>
</div>

<ul class="drac-tabs drac-tabs-white">
  <li class="drac-tab drac-tab-active">
    <a class="drac-tab-link drac-text" href="#">Item One</a>
  </li>
  <li class="drac-tab">
    <a class="drac-tab-link drac-text" href="#">Item Two</a>
  </li>
  <li class="drac-tab">
    <a class="drac-tab-link drac-text" href="#">Item Three</a>
  </li>
</ul>

<div>
  <div
    variant="subtle"
    class="drac-box drac-card drac-card-subtle drac-border-pink drac-bg-pink drac-p-md drac-m-md"
  >
    <span class="drac-text drac-line-height drac-text-pink">Subtle Card</span>
    <p>
      <span class="drac-text drac-line-height drac-text-white text">The quick vampire jumps over the lazy human</span>
    </p>
    <p>
      <input
        placeholder="type some words.."
        class="drac-input drac-input-white drac-text-white drac-m-xs"
      />
  </p>
    <div style="display: flex; flex-direction: column" class="drac-box">
      <div class="drac-box drac-mb-xs">
        <input
          type="checkbox"
          name="orange"
          id="orange"
          class="drac-checkbox drac-checkbox-orange"
          checked=""
        /><label for="orange" class="drac-text drac-text-white">Checkbox</label>
      </div>
      <div class="drac-box drac-mb-xs">
        <input
          type="checkbox"
          name="purple"
          id="purple"
          class="drac-checkbox drac-checkbox-purple"
          checked=""
        /><label for="purple" class="drac-text drac-text-white">Checkbox</label>
      </div>
      <div class="drac-box drac-mb-xs">
        <input
          type="checkbox"
          name="yellow"
          id="yellow"
          class="drac-checkbox drac-checkbox-yellow"
          checked=""
        /><label for="yellow" class="drac-text drac-text-white">Checkbox</label>
      </div>
    </div>
  </div>
</div>
<hr class="drac-divider" />
