/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@dracula/dracula-ui/styles/dracula-ui.css';

body {
  background: #1E272C;
  display: flex;
  flex-direction: column;
    .drac-box {
      margin-top: 1rem;
      position: relative;
  }
}

