/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@dracula/dracula-ui/styles/dracula-ui.css';

body {
  background: #1E272C;
  display: flex;
  flex-direction: column;
  * {
    border: 1px solid transparent;
    flex: 1;
    .text {
      position: relative;
      left: 1rem;
    }
  }
}

